<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="text-left">
        <label><%= @user.name %></label>
        <label><%= @user.phone %></label>
        <label><%= @user.email %></label>
        <label><%= @user.referencer %></td>
      </div>
    </div>
  </div>
</div>